<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <h1>Création de compte</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <form method="POST" id="contactForm">
        <p><label for="nom">Nom : </label>
        <input type="text" id="nom" name="nom" required></p>
        <p><label for="email">email : </label>
        <input type="text" id="email" name="email" required></p>
        <p><label for="password">Mot de passe: </label><br>
        <input type="password" id="password" name="password" required></p>
        <p><label for="password-confirmation">Confirmer le mot de passe: </label><br>
        <input type="password" id="password-confirmation" name="password-confirmation" required>
        <button id="display-btn" type="button">Afficher</button></p>
        <p><input type="submit" value="Envoyer" required></p>
    </form>

    <a href="/connexion">Se connecter</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>